<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="/create/" method="post">
        <!-- imp -->
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Post</button>
    </form>

    <hr>
    {% for post in posts %}
        <h4>{{post.title}}</h4>
        <h8>{{post.time}}</h8>
        <p>{{post.content}}</p>
        <hr>
    {% endfor %}
</body>
</html>